NILLION_ORG_SECRET_KEY=
NILLION_ORG_DID=did:nil:testnet:nillion1k6fgfegxzqt09gsy7qf30934z5l94w0957ye2e
# values from task vault
VAULT_ID=
COPY_VAULT_ID=
SCHEMA_ID=1878d419-4e39-40fc-92a6-7c8cf45c2975
OPERATOR_PK=
INTERVAL=180_000
TASK_DATA_PATH=./storage